doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.header
        a(href="./") CloudBlog
    div.nav
        ul
            li
                a(href="./") index
            li
                a(href="./reg") reg
            li
                a(href="./unit_test") unit_test
            li
                a(href="./upload") upload
            li
                a(href="./get_file") get_file
            li
                a(href="./watch_file") watch_file
            li
                a(href="./upload_socket") upload_socket
        p.login-panel
            a(href='./login') login
            a(href='./logout') logout

    block content

    script(src='http://code.jquery.com/jquery-latest.js')
    script(src='/javascripts/bootstrap.js')