doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.header
        a(href="./") CloudBlog
    div.nav
        ul
            li
                a(href="./") index
            li
                a(href="./reg") reg

    block content

    script(src='http://code.jquery.com/jquery-latest.js')
    script(src='/javascripts/bootstrap.js')